*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #4E5150;
    --bg-primary:  #F2F2F2;
    --secondary-color: #F2994A;
    --gray: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
}

body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    padding: 2rem 1rem;
}



.header{
    width: 100%;
    margin-bottom: 1.25rem;
}

.header-title{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--primary-color);
    transform: rotate(-0.02deg);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.cart{
    background-color: var(--bg-primary);
    border-radius: .75rem;
    padding: 1.875rem 1.625rem;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}

.item{
    display: flex;
    gap: 1rem;
}

.photo{
    flex: 1;
}

.photo img{
   height: 100%;
   width: 100%;
    border-radius: 12px;
}

.details{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title{
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: .93rem;
    color: var(--primary-color);
    margin-bottom: .6rem;
}

.details .price{
    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.06rem;
    color: var(--secondary-color);
    margin-right: 1rem;
}

.details .discount{
    font-style: normal;
    font-weight: 600;
    font-size: .625rem;
    line-height: .75rem;
    text-decoration-line: line-through;
    
}

.quantity{
    display: flex;
    justify-content: space-between;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
    padding: .75rem;
    width: 90%;
}

.quantity-selector{
    background-color: #E0E0E0;
    border-radius: 4px;
    width: 1.375rem;
    height: 1.375rem;
    text-align: center;
}

.quantity-text{
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--gray);
}

.cart-price{
    margin-top: 1rem;
    padding-top: .625rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.price-line{
    border-top: 1px solid #BDBDBD;
    padding-top: .3rem;
    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.06rem;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.31rem;
    margin-bottom: 2.5rem;
}

.form-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
    margin-bottom: .8rem;
}

label {
    font-style: normal;
    font-weight: 600;
    font-size: .625rem;
    line-height: .75rem;
    color: var(--gray-2);
}

.material-icons{
    color: var(--gray-3);
}

.input{
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-3);
    border-radius: .75rem;
    padding: .45rem .6rem;
    gap: .3rem;

}

input {
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: .93rem;
    outline: none;
}

input::placeholder{
    color: var(--gray-3);
}

.input-wrapper{
    margin-bottom: 1rem;
}

.input-wrapper input{
    width: 100%;
}

#country{
    outline: none;
    background-color: transparent;
    width: 100%;
    border: 0;
}

.input-half {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
}

.save {
    display: flex;
    justify-content: flex-start;
    gap: .3rem;
    align-items: center;
    margin-bottom: 1.25rem;
}

.save input{
    width: 1rem;
    height: 1rem;
}

.save lavel{
    font-style: normal;
    font-weight: 600;
    font-size: .625rem;
    line-height: .75rem;
    color: var(--gray-2)
}

.btn-wrapper{
    display: flex;
    justify-content: flex-end;
}

.btn{
    background: var(--secondary-color);
    border-radius: .75rem;
    border: none;
    padding: .9rem 2.8rem;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
}

.footer{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    font-weight: normal;
    font-style: normal;
    font-size: 0.87rem;
    color: var(--gray-3);
    text-align: center;
    padding-bottom: 10px;
}

.footer strong{
    text-decoration: underline;
}

@media (min-width: 700px) {
    body{
        padding: 4rem 15rem;
    }
    .container{
        flex-direction: row;
        gap: 6rem;
    }
    .cart{
        order: 2;
        align-self: flex-start;
    }
    .form{
        order: 1;
    }
    .photo img{
        height: 135px;
        width: 135px;
     }
     .cart-items{
         margin-bottom: 2rem;
     }
}